version: '3.8'

services:
  frontend:
    container_name: topawards-admin-front
    image: seu-usuario/topawards-front:latest # Ou use o build context abaixo
    build:
      context: .
      dockerfile: Dockerfile
      # Não precisa mais de args aqui!

    restart: always
    ports:
      - "8082:8082"

    # AQUI ESTÁ A MÁGICA PARA O PORTAINER:
    environment:
      - VITE_API_URL=https://awards-api.animefoda.org