version: '3.8'

services:
  frontend:
    container_name: topawards-admin-front

    build:
      context: .
      dockerfile: Dockerfile

    restart: always

    # Esquerda: Porta Externa (Navegador) -> 8082
    # Direita: Porta Interna (Nginx do Container) -> 80
    ports:
      - "8082:80"

    environment:
      - VITE_API_URL=https://awards-api.animefoda.org