version: '3.8'

services:
  frontend:
    container_name: topawards-admin-front

    build:
      context: .
      dockerfile: Dockerfile

    restart: always

    # 2. CORREÇÃO DE PORTA IMPORTANTE:
    # Esquerda (8082): Porta do seu servidor (acesso externo)
    # Direita (80): Porta onde o Nginx roda DENTRO do container (NÃO MUDE PARA 8082)
    ports:
      - "8082:80"

    environment:
      - VITE_API_URL=https://awards-api.animefoda.org