.form-wrapper{
    display: flex;
    flex-direction: column;
    .form-header{
        justify-content: center;
        .header-actions{
            border: none;
            display: flex;
            align-items: center;
            margin:0 1em;
            .btn-create-new{
                text-decoration: none;
                padding: 8px 16px;
                width: max-content;
                height: max-content;
                background-color: rgb(76, 175, 80);
                color: white;
                border-radius: 4px;
                font-size: 14px;
            }
        }
        h1{
            font-size: 1.5rem;
        }
    }
    .fields{
        flex-direction: column;
        display: flex;
        .section{
            //display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}