.creation-wrapper{
    display: flex;
    flex-direction: column;
    .creation-header{
        justify-content: center;
        h1{
            font-size: 1.5rem;
        }
    }
    .creation-fields{
        flex-direction: column;
        .section{
            //display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}