.form-wrapper{
    display: flex;
    flex-direction: column;
    .form-header{
        justify-content: space-between;
        .header-actions{
            border: none;
            display: flex;
            align-items: center;
            //margin:0 1em;
            padding: 0;
            margin-left: 1em
        }
        h1{
            font-size: 1.5rem;
        }
    }
    .fields{
        flex-direction: column;
        display: flex;
        .section{
            align-items: center;
            justify-content: space-between;
            .image-upload-field{
                border: none;
                flex-direction: column-reverse;
                gap: 1rem;
                .image-preview{
                    padding: 0;
                    overflow: hidden;
                    img{
                        max-width: 15em;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
.btn{
    text-decoration: none;
    transition: .2s ease-in-out;
    padding: .5em;
    width: max-content;
    height: max-content;
    color: white;
    border-radius: 4px;
    border: none;
    &.create{
        background-color: var(--color5);
        &:hover{
            background-color: var(--color3);
        }
    }
    &.remove{
        background-color: var(--red);
        &:hover{
            background-color: var(--dark_red);
        }
    }
}