.main-home-wrapper{
    width: 100%;
    
    div {
        padding: 1em;
        border-radius: 1em;
        display: flex;
        border: 2px solid var(--color3);
        margin-bottom: 2em;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .main-home{
        background-color: var(--color2);
        margin: 1em auto;
        flex-direction: column;
        width: max-content;
        .menu{
            display: flex;
            flex-direction: row;
            //gap: 1em;
            justify-content: space-evenly;
            .menu-item{
                background-color: var(--color3);
                border: none;
                border-radius: 1em;
                color: white;
                transition: .2s ease-in-out;
                padding: .5em;
                text-decoration: none;
                margin: 0 .5em;
                p{
                    transition: .2s ease-in-out;
                    margin: 0;
                }
                &:hover{
                    background-color: var(--color4);
                    p{
                        color: var(--dark-color3)
                    }
                }
            }
        }
        .graphs{
            display: grid;
        }
    }
}