.main-home-wrapper{
    width: 100%;
    
    div{
        padding: 1em;
        border-radius: 1em;
        display: flex;
    }
    .main-home{
        background-color: var(--color2);
        margin: 1em auto;
        flex-direction: column;
        .menu{
            display: flex;
            flex-direction: row;
            //gap: 1em;
            justify-content: space-evenly;
            .menu-item{
                background-color: var(--color3);
                border: none;
                border-radius: 1em;
                color: white;
                transition: .2s ease-in-out;
                padding: .5em;
                p{
                    margin: 0;
                }
                &:hover{
                    background-color: var(--color4);
                }
            }
        }
        .graphs{
            display: grid;
        }
    }
}