.list-page-wrapper{
    display: flex;
    flex-direction: column;
    .list-header{
        justify-content: space-between;
        align-items: center;
    }
    .list-container{
        *{
            transition: .2s ease-in-out;
        }
        width: 100%;
        flex-direction: column;
        gap: 1em;
        .list-item-row{
            flex-direction: row;
            align-items: stretch;
            border: none;
            border-radius: 0;
            padding: 0;
            margin-bottom: .5em;
            
            &:hover{
                background-color: var(--dark-color3);
                p{
                    color: white;
                }
            }
            
            .list-item-col{
                display: inline-flex;
                align-items: center;
                flex: 1;
                border-radius: 0;
                border: 1px solid var(--color3);
                width: fit-content;
                padding: 0 5px;
                margin: 0;
            }
            p{
                height: max-content;
                margin: 0;
            }
        }
    }
}